<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Radios disponibles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-grid>
    <ion-row >
      <ion-col size="6" class="ion-text-center" *ngFor="let track of playlist" (click)="start(track)">
          <ion-img [src]="track.img"></ion-img>
          <ion-label [color]="track == activeTrack ? 'success': 'light'">
            {{ track.name }}
          </ion-label>
      </ion-col>      
      
    </ion-row>
  </ion-grid>
 
</ion-content>

<ion-footer >
  <ion-toolbar color="dark">
    <ion-row  *ngIf="activeTrack">
      <ion-col size="12" class="ion-text-center">
        <ion-label *ngIf="!progress && isPlaying" color="warning">
          <h1>CARGANDO ...</h1>
        </ion-label>
      </ion-col>

      <ion-col size="2" class="ion-text-center">
        <ion-button fill="clear" color="light" size="small">
          <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="7" class="ion-text-center">
        <ion-label color="success">
          {{ activeTrack.name }}
      </ion-label>
      </ion-col>

      <!-- <ion-col size="12">
        <ion-range #range [(ngModel)]="progress" max="100" color="success" (touchend)="seek()" (mouseup)="seek()"></ion-range>
      </ion-col> -->
      
      <ion-col size="3" class="ion-text-center">
        <!-- <ion-button fill="clear" (click)="prev()" color="success" size="large">
          <ion-icon slot="icon-only" name="skip-backward"></ion-icon>
        </ion-button> -->

        <ion-button fill="clear" (click)="tooglePlayer(false)" *ngIf="!isPlaying" color="success" >
          <ion-icon slot="icon-only" name="play"></ion-icon>
        </ion-button>

        <ion-button fill="clear" (click)="tooglePlayer(true)" *ngIf="isPlaying" color="success" >
          <ion-icon slot="icon-only" name="pause"></ion-icon>
        </ion-button>

        <!-- <ion-button fill="clear" (click)="next()" color="success" size="large">
          <ion-icon slot="icon-only" name="skip-forward"></ion-icon>
        </ion-button> -->

      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="9" class="footer-contact-text">
        Quieres que tu radio esté aquí! <br/> Escríbenos a <a href="mailto:contacto@lalibre.net">contacto@lalibre.net</a>
      </ion-col>
      <ion-col size="3" >
        <ion-label color="success" class="footer-logo-text">
          Desarrollado por: 
          <a href="https://lalibre.net">
            <ion-img src="./assets/img/LaLibre.png"></ion-img>
          </a>
        </ion-label>
        
      </ion-col>      
    
    </ion-row>
  </ion-toolbar>
</ion-footer>
