#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content, ion-list, ion-item {
  --background: var(--ion-color-dark);
  --ion-background-color: var(--ion-color-dark);
}

ion-row {
  align-items: center;
}

.footer-contact-text {
  font-size: 0.9em;
  text-align: left;
}

.footer-logo-text {
  font-size: 0.6em;
  text-align: center;
}
